:root {
    /* first usage of root in a CSS file for color palette*/
    --grey: rgb(63, 63, 63);
    --white: white;
    --teal: rgb(6, 196, 225);
    --dark-blue: rgb(39, 43, 81);
}

body {
    display: flex;
    flex-wrap: wrap;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    color: var(--white);
}

h1 {
    font-size: 2.5rem;
    padding: 8px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 30rem;
    font-size: 1.5rem;
    padding: 1.6rem;
}

nav a {
    background-color: unset;
    color: var(--teal);
    font-weight:200;
    text-decoration: underline;
    
}

nav a:hover{
    color: var(--white);
}

.leftnav {
    display: flex;
    width: 20%;
    height: 80vh;
    position: absolute;
    align-items:center;
    background-color: darkgrey;
}

.header-card {
    display: flex;
    flex-wrap: wrap;
    background: var(--teal);
    color: var(--grey);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: .8rem;
}

.centerpiece {
    display: flex;
    flex-wrap: wrap;
    display: flex; 
    flex-direction: column;
}

.centercard {
    padding: 2rem;
}

.centercard img {
    width: 80%;
    padding: 1rem;
    padding-left: 4rem;
    position: flex;
}

